

<p>calcc works!</p>

<div class="container">
    <div class="deg-msg" *ngIf="deg">deg</div>
    <div class="rad-msg" *ngIf="!deg">rad</div>
    <div class="upper">
        <!-- // User Input -->
        <div class="display-input wrap" type="text" id="userinput">{{userInput}}</div>
        
        <!-- Results -->
        <!-- <div class="display-result" *ngIf="!result" id ="userinput">{{userInput}}</div> -->
        <div class="display-result" type="text" id="res">{{result}}</div>

    </div>
    <div class="container-buttons">
    <div class="sc-fi">
        <div class="row first-row">
            <button class=" btn controls key rad" *ngIf="deg" (click)="degree()">Deg</button>
            <button class=" btn controls key rad "*ngIf="!deg"(click)="radian()">Rad</button>


            <button class="btn controls key braket" (click)="openBracket()">(</button>
            <button class="btn controls key braket" (click)="closeBracket()">)</button>
            <button class="btn controls key Lnv"(click)="inverse()">lnv</button>



        </div>
        <div class="row first-row">
            <button class=" btn controls key  log " (click)="pressOperator('log(')">log</button>
            <button class="btn controls key " (click)="pressOperator('ln(')">ln</button>
            <button class="btn controls key " (click)="pressOperator('e^')">e^x</button>

            <button class="btn controls key Lnv"*ngIf="!inv" (click)="pressOperator('sin(')">sin</button>

            <button class="btn controls key Lnv"*ngIf="inv" (click)="pressOperator('sin-1(')">sin-1</button>

            
        </div>
   
        <div class="row first-row">
            <button class=" btn controls log key "(click)="pressOperator('π')">π</button>
            <button class=" btn controls log key "(click)="pressOperator('³')">x³</button>
            <button class=" btn controls log key "(click)="pressOperator('2^')">2^x</button>



            <button class="btn controls key ln" *ngIf="!inv" (click)="pressOperator('cos(')">cos</button>
            <button class="btn controls key Lnv" *ngIf="inv" (click)="pressOperator('cos-1(')">cos-1</button>

            
        </div>
        <div class="row first-row">
            <button class="btn controls key log " (click)="pressOperator('e')">e</button>
            <button class="btn controls key Lnv"(click)="pressOperator('√')">√</button>
            <button class="btn controls key " (click)="pressOperator('1/')">1/x</button>

            <button class="btn controls key ln" *ngIf="!inv"  (click)="pressOperator('tan(')">tan</button>

            <button class="btn controls key Lnv"*ngIf="inv" (click)="pressOperator('tan-1(')">tan-1</button>

            
        </div>
        <div class="row first-row">
            <button class=" btn controls key not"(click)="pressOperator('!')">x!</button>
            <button class=" btn controls key not"(click)="pressOperator('∛')"> ∛</button>
            
            
            <button class="btn controls key "(click)="pressOperator('²')">x²</button>
            <button class="btn controls key Lnv"(click)="pressOperator('^')">x^y</button>
            
        </div>
        
    </div>
    <div class="lower">
        <div class="row first-row">

            <button class="btn controls operations" type="button" (click)="clearScreen()">AC</button>
            <button class="btn controls operations" type="button" (click)="backSpace()"> CE</button>
            <button class="btn controls operations" type="button" (click)="pressOperator('%')">
                <i class="fas fa-percentage"></i>
            </button>
            <button class="btn controls operations" type="button" (click)="pressOperator('/')">
                <i class="fas fa-divide"></i>

            </button>
        </div>

        <div class="row row-second">
            <button class="btn controls key" type="button" (click)="pressKey('7')">7</button>
            <button class="btn controls key" type="button" (click)="pressKey('8')">8</button>
            <button class="btn controls key" type="button" (click)="pressKey('9')">9</button>
            <button class="btn controls operations" type="button" (click)="pressOperator('*')">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="row row-third">
            <button class="btn controls key " type="button" (click)="pressKey('4')">4</button>
            <button class="btn controls key " type="button" (click)="pressKey('5')">5</button>
            <button class="btn controls key " type="button" (click)="pressKey('6')">6</button>
            <button class="btn controls operations" type="button" (click)="pressOperator('-')"><i
                    class="fas fa-minus"></i></button>
        </div>
        <div class="row row-four">
            <button class="btn controls key " type="button" (click)="pressKey('1')">1</button>
            <button class="btn controls key " type="button" (click)="pressKey('2')">2</button>
            <button class="btn controls key " type="button" (click)="pressKey('3')">3</button>
            <button class="btn controls operations" type="button" (click)="pressOperator('+')">
                <i class="fas fa-plus"></i>
            </button>
        </div>
        <div class="row row-five">
            <button class="btn controls key " type="button" (click)="pressKey('0')">0</button>
            <button class="btn controls key " type="button" (click)="pressKey('.')">.</button>
            <button class="btn controls operations plus-minus" type="button" (click)="negative()">
                <div class="fas fa-plus"></div>
                <div class="fas fa-minus"></div>

            </button>
         
            <button class="btn controls operations equal" type="button" (click)="showAns()"><i
                    class="fas fa-equals"></i></button>
        </div>
    </div>
    </div>
</div>